[Desktop Entry]
Version = 1.0
Name=虚拟检测
Comment=virsys check tools
Icon=/usr/share/icons/check-virtsys/128x128/check-virtsys.png
Exec=check-virtsys
Type=Application
Terminal=false
StartupNotify=true
Categories=Qt;Application;Network;


